main .note-container {
    padding: 0;
    background-color: #EFEEE7;
}

main .note-container .note {
    width: 350px;
    margin: auto;
}

main .note-container .note {
    padding: var(--spacing-m) 0;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-top: 0;
    text-align: center;
    margin: auto;
    font-style: italic;
}

@media (min-width: 600px) {
    main .note-container .note {
        width: 500px;
        margin: auto;
    }
}

@media (min-width: 900px) {
    main .note-container .note {
        width: 650px;
    }
}